Pre-requirement: pip3 install virtualenv
1)Set Virtual environment
>virtualenv -p python3 <desired-path>
>source <desired-path>/bin/activate

2)Install flask
>pip3 install -r requirements.txt

3)run app
>export FLASK_APP=app.py
>export FLASK_DEBUG=1

4)install pandas and tablib for reading files (if it's not installed)
>pip install pandas
>pip install tablib

>flask run
4) in command window, you will find a url like http://127.0.0.1:5000/, using this address to open website.